@charset "UTF-8";



.LoginForm{
	text-align:center;
}

#input_id{
	 border-bottom: 2px solid black;
	width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}
#input_id.underline{
	border:0;
	border-bottom:1 solid black;
}

#input_pw{
	 border-bottom: 2px solid #adadad;
}

.login{   
	
}